<header class="flex flex-col ">
  <picture class="">
    <source srcset="assets/icon_proveedor.png" type="image/png">
    <img src="assets/icon_proveedor.png" title="Icono CEAP" alt="Logo" loading="lazy" class="w-8 h-auto">
  </picture>
  <div class="py-4">
    <h1 class="text-xl text-gray-600">{{'HOLA 👋 ' + [(dataTercero.name || 'Sin data' | truncate: 26) | uppercase]}}</h1>
  </div>
  <span class="text-base">Ingresar OTP</span>
</header>

<section class="pt-2 w-full">
  <div class="flex justify-center space-x-7 pt-4 pb-2 w-full" data-hs-pin-input="">
    <mat-form-field class="w-full">
      <mat-label>Ingrese OTP</mat-label>
      <input (input)="validateOTP()" #txtTagOtpInput matInput title="Código OTP" maxlength="6">
    </mat-form-field>
  </div>

  <!-- Incluir el componente de captcha aquí -->
  <app-captcha-turnstile (tokenReceived)="onTokenReceived($event)"></app-captcha-turnstile>

  <p class="pt-7 text-pretty text-sm">
    Se ha enviado un código de verificación a tu correo electrónico. <span class="font-bold">{{dataTercero.email || 'Sin data' | lowercase}} </span>
    Este correo es el registrado en el sistema, <br>
    Para solicitar un nuevo código, debes esperar {{countdown}} segundos.
  </p>

  <div class="flex justify-between items-center pt-8">
    <div [ngClass]="{
      'cursor-not-allowed': isResendDisabled,
    }">
      <button mat-button color="primary" (click)="resendOtp()" [disabled]="isResendDisabled">Reenviar código</button>
    </div>

    <div [ngClass]="{
      ' cursor-not-allowed': txtTagOtpInput.value.length < 6,
    }">
      <button (click)="validateOTP()" mat-flat-button color="primary" type="submit"
      [disabled]="txtTagOtpInput.value.length < 6"
      >Siguiente</button>
    </div>
  </div>
</section>
