<!-- Component: LoginComponent -->
<header class="flex flex-col ">
  <picture class="">
    <source srcset="assets/icon_proveedor.png" type="image/png">
    <img src="assets/icon_proveedor.png" title="Icono CEAP" alt="Logo" loading="lazy" class="w-8 h-auto">
  </picture>
  <div class="py-4">
    <h1 class="text-xl text-gray-600">Inicia sesión</h1>
  </div>
  <span class="text-base">Ir a CEAP</span>
</header>

<form class="pt-6 w-full" [formGroup]="loginForm" autocomplete="on">
  <mat-form-field  class="w-full pb-2">
    <mat-label>Ingrese Nit</mat-label>
    <input type="tel" pattern="\d*" (input)="onInput($event)" matInput title="Número de Identificación Tributaria" formControlName="numberNit" id="numberNit" maxlength="10"/>
    @if (isValidField('numberNit')) {
      <mat-error class="font-semibold">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        {{ getFieldError('numberNit') }}
      </mat-error>
    }
  </mat-form-field>

  <app-captcha-turnstile (tokenReceived)="onTokenReceived($event)"></app-captcha-turnstile>

  <p class="pt-2 text-pretty text-sm">
    Ingresa el NIT de tu empresa para acceder a la plataforma. Recuerda que se enviara un código de verificación a tu correo electrónico registrado.
  </p>
  <div class="flex justify-between items-center pt-8">
    <a mat-button (click)="openModal()" color="primary">¿No tienes acceso al correo?</a>
    <button (click)="login()" mat-flat-button color="primary" type="submit">Siguiente</button>
  </div>
</form>

