<!-- <h2 mat-dialog-title class="text-red-500">No tienes acceso al correo</h2> -->
<mat-dialog-content class="">
  <h3>No tienes acceso al correo</h3>
  <p>Si no puedes acceder al correo registrado, sigue estas instrucciones:</p>

  <h2 class="mt-5 mb-4 font-bold">Envía un correo a soporte&#64;digitalgex.com con la siguiente información:</h2>

  <ul class="list-disc pl-5 space-y-2 mb-4">
    <li>RUT</li>
    <li>Correo que deseas cambiar</li>
    <li>Nombre completo</li>
    <li>Cargo en la compañía</li>
    <li>Número de celular</li>
  </ul>

  <div class="bg-yellow-100 p-4 rounded-md">
    <p class="text-yellow-800 text-sm">
      <strong>Importante:</strong> El nuevo correo debe ser del mismo dominio que el registrado actualmente.
    </p>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="true" (click)="onClick()">Enviar correo a soporte</button>
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
