
@if (isLoading$() | async) {

  @switch (spinnerType) {
    @case ('spinnerLoading') {
      <div class="loading-overlay">
        <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 justify-center content-center items-center">
          <span class="loader">
            <div class="flex items-center justify-center">
              <section class="relative flex justify-center items-center content-center p-20">
                <div class=" flex flex-col justify-center items-center content-center">
                  <div class="loaderm"></div>
                  <span class="font-semibold text-verde-mrbono pt-2">Cargando</span>
                </div>
              </section>
            </div>
          </span>
        </div>
      </div>
    }

    @case ('login') {
      <div class="absolute inset-0 bg-green-50/10 opacity-50 z-50 backdrop-blur-3xl transition rounded-[28px] overflow-hidden">
        <mat-progress-bar mode="indeterminate" class="progress-bar" value="progressValueIndeterminate">
          Loading
        </mat-progress-bar>
      </div>
    }

    @case ('global') {
      <div class="overlay">
        <mat-progress-bar mode="indeterminate" class="progress-bar" value="progressValueIndeterminate">
          Loading
        </mat-progress-bar>
        <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 justify-center content-center items-center">
          <span class="loader">
            <div class="flex items-center justify-center">
              <section class="relative flex justify-center items-center content-center p-20">
                <div class=" flex flex-col justify-center items-center content-center">
                  <!-- <div class="loaderm"></div> -->
                  <mat-spinner></mat-spinner>
                  <span class="font-semibold text-verde-mrbono pt-2">Cargando</span>

                </div>
              </section>
            </div>
          </span>
        </div>
      </div>
    }

    @case ('spinnerDownload') {
      <div class="loading-overlay">

        <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 justify-center content-center items-center">
          <span class="loader">
            <div class="flex items-center justify-center">
              <section class="relative flex justify-center items-center content-center p-20">
                <div class=" flex flex-col justify-center items-center content-center">
                  <div class="loaderm"></div>
                  <span class="font-semibold text-verde-mrbono pt-2">Descargando</span>
                </div>
              </section>
            </div>
          </span>
        </div>
      </div>
    }

    @default {
      <div class="loading-overlay">
        <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2 justify-center content-center items-center">
          <span class="loader">
            <div class="flex items-center justify-center">
              <section class="relative flex justify-center items-center content-center p-20">
                <div class=" flex flex-col justify-center items-center content-center">
                  <div class="loaderm"></div>
                  <span class="font-semibold text-verde-mrbono pt-2">Default</span>
                </div>
              </section>
            </div>
          </span>
        </div>
      </div>
    }

  }

}
