.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(199, 190, 152, 0.4); /* Fondo oscuro con opacidad */
  z-index: 9999; /* Asegura que el overlay esté en la parte superior de todo */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  border-radius: 0.42rem;
  transition: opacity 0.3s ease-in-out;
}


/* HTML: <div class="loader"></div> */
.loaderm {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loaderm:before,
.loaderm:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: #0A8342;
  -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
  mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
  animation: l35m 1.5s infinite;
}
.loaderm:after {
  -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
  mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
  --s:-1;
}
@keyframes l35m {
  0%,
  10% {transform: translate(0) rotate(0)}
  35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
  66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
  90%,
  100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
}
