<div class="w-full pt-4">
  <form autocomplete="on" action="">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4">
      <div class="grid w-full">
        <mat-form-field appearance="fill">
          <mat-label>Seleccione certificado</mat-label>
          <mat-select>
            @for (item of certificados; track $index) {
              <mat-option [value]="item.value">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid w-full">
        <mat-form-field appearance="fill">
          <mat-label>Seleccione año</mat-label>
          <mat-select (valueChange)="onChangeValue($event)">
            @for (year of years; track $index) {
              <mat-option [value]="year.value"> {{year.name}} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        </div>


    </div>

  </form>


  <!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field> -->

  <div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Tipo Certificado Column -->
      <ng-container matColumnDef="tipoCertificado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Certificado </th>
        <td mat-cell *matCellDef="let row"> {{row.tipoCertificado}} </td>
      </ng-container>

      <!-- Año Column -->
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
        <td mat-cell *matCellDef="let row"> {{row.ano}} </td>
      </ng-container>

      <!-- Periodo Column -->
      <ng-container matColumnDef="periodo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Periodo </th>
        <td mat-cell *matCellDef="let row"> {{row.periodo}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Descargar </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onDownload(row)">
            <mat-icon class="text-verde">{{row.actions}}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>







</div>


