<section class="flex flex-col gap-y-10 items-center 2xl:px-80 p-10">
  <h1 class="text-2xl font-semibold text-gray-700">Próximamente: Relación de Pagos</h1>

  <div class="flex animate-pulse">
    <mat-icon class="w-16 h-16 text-primary/80" aria-hidden="false" aria-label="Icono de relog" fontIcon="schedule"></mat-icon>
  </div>

  <p class="text-xl text-pretty text-center text-gray-600">
    Muy pronto podrás ver cómo se aplicaron los pagos a tus facturas como proveedor.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
    <mat-card class="flex gap-y-4 flex-col items-center text-center p-4 text-gray-500 border rounded-lg overflow-hidden transition-all duration-300 hover:shadow-lg"
    appearance="outlined">
      <!-- <mat-icon class="w-16 h-16 text-primary/80" aria-hidden="false" aria-label="Icono de relog" fontIcon="receipt_long"></mat-icon> -->
      <svg xmlns="http://www.w3.org/2000/svg" class="size-10" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6m-6-3h6M13 3H8.2c-1.12 0-1.68 0-2.108.218a2 2 0 0 0-.874.874C5 4.52 5 5.08 5 6.2v11.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h7.606c1.118 0 1.677 0 2.104-.218c.377-.192.683-.498.875-.874c.218-.428.218-.986.218-2.104V9.326L18.999 9M13 3c.286.003.466.014.638.055c.204.05.4.13.579.24c.202.124.375.297.72.643l3.126 3.125c.346.346.518.518.642.72q.165.271.24.578c.04.173.051.354.054.639M13 3v2.8c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874c.427.218.987.218 2.105.218h2.802"/>
      </svg>
      <h2 class="text-xl font-semibold text-gray-700">Facturas Detalladas</h2>
      <p class="text-lg text-muted-foreground">Visualiza todas tus facturas con detalles completos.</p>
    </mat-card>

    <mat-card class="flex gap-y-4 flex-col items-center text-center p-4 text-gray-500 border rounded-lg overflow-hidden transition-all duration-300 hover:shadow-lg"
    appearance="outlined">
      <svg xmlns="http://www.w3.org/2000/svg" class="size-10" viewBox="0 0 24 24">
        <path fill="currentColor" d="M11.025 21v-2.15q-1.325-.3-2.287-1.15t-1.413-2.4l1.85-.75q.375 1.2 1.113 1.825t1.937.625q1.025 0 1.738-.462t.712-1.438q0-.875-.55-1.387t-2.55-1.163q-2.15-.675-2.95-1.612t-.8-2.288q0-1.625 1.05-2.525t2.15-1.025V3h2v2.1q1.25.2 2.063.913t1.187 1.737l-1.85.8q-.3-.8-.85-1.2t-1.5-.4q-1.1 0-1.675.488T9.825 8.65q0 .825.75 1.3t2.6 1q1.725.5 2.613 1.588t.887 2.512q0 1.775-1.05 2.7t-2.6 1.15V21z"/>
      </svg>
      <h2 class="text-xl font-semibold text-gray-700">Pagos Aplicados</h2>
      <p class="text-lg text-muted-foreground">Observa cómo se aplicaron los pagos a cada factura.</p>
    </mat-card>

    <mat-card class="flex gap-y-4 flex-col items-center text-center p-4 text-gray-500 border rounded-lg overflow-hidden transition-all duration-300 hover:shadow-lg"
    appearance="outlined">
      <svg xmlns="http://www.w3.org/2000/svg" class=" size-10" viewBox="0 0 24 24">
        <path fill="currentColor" d="M4 8a8 8 0 1 1 16 0v4.697l2 3V20h-5.611a4.502 4.502 0 0 1-8.777 0H2v-4.303l2-3zm5.708 12a2.5 2.5 0 0 0 4.584 0zM12 2a6 6 0 0 0-6 6v5.303l-2 3V18h16v-1.697l-2-3V8a6 6 0 0 0-6-6"/>
      </svg>
      <h2 class="text-xl font-semibold text-gray-700">Notificaciones</h2>
      <p class="text-lg text-muted-foreground">Recibe alertas cuando se procesen nuevos pagos.</p>
    </mat-card>

  </div>

</section>
